

.modal-dialog
{
  opacity: 0.7;
}

.modal-backdrop
{
    
    opacity:0.8 !important;
}

.navi:hover,
.navi:focus {
    color: #a94442;
    text-decoration: none;
    cursor: pointer;
}
.navi:alink
{
  color: #a94442;
}

#keyStyle
{
  font-weight: bold;
  color: #a94442;
}

#idStyle
{
  font-weight: normal;
  font-color: black;
}

.container
{
	margin-top: 10px;
}

.ng-cloak
{
	display: none;
}

.title-font
{
	font-size: 10px;
	font-weight: normal;
}

#posters
{
	height: 300px;
	width: 80%;
}


#header
{
	width: 100%;
	position: relative;
}

h2
{
	position: absolute;
	top: 50px;
	left: 0;
	width: 90%;
	margin-left: 20%;
}

h2 span 
{ 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: 5px;  
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.6);
   padding: 10px; 
}

@media only screen and (min-width: 1000px) {
    #posters {
        width: 77%;
        height: 370px;
    }
}

@media only screen and (max-width: 450px) {
    #posters {
        width: 90%;
        height: 170px;
    }
}